/*oblikovanje*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}



body, html {
  height: 100%;
  margin: 0;
  color: white;
  line-height: 1.8;
  background-image:url('img/pozad.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size:15px;
}

a {
	color:#ffff9e
}
.news p {
	font-style: italic
}
.news img {
	width: 30%;
	float: right;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
}
.news hr {
	margin: 1em;
	border: 1px dotted;
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}

.citat {border-left:6px solid #ccc;
		color:#000000;
		background-color:rgba(200, 200, 225);
		margin-top:16px;
		margin-bottom:16px;
		padding:0.01em 16px;
}
	
.naslovi {text-align:left;padding:20px;letter-spacing: 0px;}
	
.tekst {color:black; padding:16px}
	
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("img/velika.jpg");
  position: fixed;
  min-height: 100%;
}


.ist-tekst{background:white;
color:rgba(0, 0, 25);
font-size:20px;
}


#menuShowHide {
	display:none;
	left:-999em;
}

#mainMenu {
	list-style:none;
	text-align:center;
	padding:0.25em 0;

	background:#F0F8FF;

}

#mainMenu li {
	display:inline;
}

#mainMenu a {
	display:inline-block;
	padding:0.25em 1em;
	text-decoration:none;
	color:#FFF;
}

#mainMenu a:active,
#mainMenu a:focus,
#mainMenu a:hover {
	background:#000!;
}



@media (max-width:38em) {


	#mainMenu {
		clear:both;
		display:none;

		margin-top:-1em

		
	}

	#mainMenu a {
		display:block;
		padding:0.75em

	}
	#menuShowHide + label {
		float:left;
		position:fixed;
		z-index:5;
		padding:1em;
		color:#FFF;
        background:rgba(0, 0, 0,0.6)
	}

	#menuShowHide + label:after,
	#menuShowHide + label:before {
		
		content:"";
		display:block;
		width:1.5em;
		height:0.3em;
		border:solid #FFF;
		border-width:0.25em 0;
	}
	#menuShowHide + label:after {
		border-top:0;
	}
	#menuShowHide:checked + label {
		background:#000000; 
	}
	#menuShowHide:checked ~ #mainMenu {
		display:block;
	}


}

@media (max-width:18em) {
	#mainMenu li {
		
		width:auto;
	}
	
label[for="menuShowHide"] { 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
}

/*galerija 2*/

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1024px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* kontakt forma */
* {
  box-sizing: border-box;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 6px;
  display: inline-block;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: rgba(0,0,50);
}

.container {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
